doctype html
html 
    head 
        title #{title}
        link(rel="stylesheet", href="/styles.css")
        script(src="/htmx.min.js.2.0.8")
    body
        header 
            nav 
                h1 Test Page, aight?
        block content